/*==========================================================================
* Switch Tab CSS
==========================================================================*/
.switch__tab {
    &-icon {
        position: fixed;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        transition: all 0.3s;
        i {
            background: var(--primary-color-1);
            width: 50px;
            color: var(--color-1);
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            border-radius: 5px 0 0 5px;
            cursor: pointer;            
        }
    }  
    &-area {
        width: 260px;
        padding: 35px 25px;
        background: var(--color-1);
        border: 1px solid var(--border-color-3);
        position: fixed;
        right: -260px;
        top: 50%;
        z-index: 99;
        transform: translateY(-50%);
        transition: all 0.3s;
        direction: ltr;
        &-item {
            margin-bottom: 30px;
            h5 {
                color: var(--text-white);
                margin-bottom: 10px;
            }
            &-buttons,
            &-button {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                button {
                    display: inline-block;
                    padding: 4px 10px;
                    color: var(--color-6);
                    background: #2B2B2F;
                    border-radius: 4px;
                    text-transform: capitalize;
                    opacity: 0.55;
                    font-size: 15px;
                    font-weight: 500;
                    &.active {
                        opacity: 1;
                    }
                }
                &.dark button:first-child {
                    opacity: 1;
                }
            }
            &:last-child {
                margin: 0;
            }
        }
    }
    &-open i::before {
        animation: rollIn 5s infinite linear;        
    }
    &-close {
        display: none;
    }
    &.active {
        .switch__tab-area {
            right: 0;
        }
        .switch__tab {
            &-icon {
                right: 260px;
            }
            &-open{
                display: none;
            }
            &-close{
                display: block;
            }
        }
    }
}
.dark-mode {
    .switch__tab-area-item-button button {
        &:first-child {
            opacity: 0.55;
        }
        &:last-child {
            opacity: 1;
        }
    }
}
.cursor-no {
    .cursor .hide #cursor-ball {
        opacity: 0;
    }
    .cursor #cursor-text {
        background: var(--color-1);
        padding: 31px 21px;
        border-radius: 50%;
    }
}